.feedback {
	width: 717px;
	z-index: 10;
	text-align: center;
	padding: 30px;
	position: relative;
	background-image: url('../img/fancy-body.png');
	background-repeat: repeat-y;
	background-position: center;

	// Только для фона и оверфлоу фона СВЕРХУ попапа
	&::before {
		top: -9px;
		background-image: url('../img/fancy-top_feedback.png');
	}
	// Только для фона и оверфлоу фона СНИЗУ попапа
	&::after {
		bottom: -4px;
		background-image: url('../img/fancy-bottom_feedback.png');
	}

	form {
		max-width: 355px;
		margin: 0 auto;
	}

	.button {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 15px;
	}

	p {
		font-weight: bold;
		color: #67390d;
	}

	i {
		color: #67390d;
	}

	h1 {
		font-size: 36px;
	}

	@media only screen and (max-width: 768px) {
		width: 360px;

		h1 {
			font-size: 26px;
		}
	}

	@media only screen and (max-width: 400px) {
		.button {
		    white-space: normal;
		}

		width: 310px;
		padding: 30px 10px;
	}
}
