$body-bg: #04080c;

$base-font-size: 100%;
$base-font-family: 'AeroBonus', sans-serif;
$base-font-color: #333333;
$base-line-height: 1.6;

$accent-color: #003e7e;
$primary-color: #fbdd95;
$alert-color: #e51937;
$gold: #f5e13f;

$accent-medium-color: #1267ba;
$accent-darker-color: #2f7fb8;

$glob-border-color: #e6e6e6;

$link-color: #1266bb;

$light-grey-color: #f2f2f2;
$dark-grey-color: #ccc;

$xlarge-breakpoint: 1440px;
$wide-breakpoint: 1280px;
$desktop-breakpoint: 960px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 500px;

$paragraph-line-height: 1.3;
$paragraph-margin: 0.6em;

$input-border-color: #cccccc;
$input-focus-color: #96d0fa;

$global-right: 15px;
$global-left: 15px;